.env*
*.log
/bin/
/tmp/
.DS_Store
coverage.out
node_modules/
playwright/.auth/
playwright-report/
test-results/

# Docker files
docker-compose.yml

# Dumps
*.dump

# Scripts
deploy.sh
server-setup.sh
cleanup.sh

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
